@model InvestmentPlatform.Application.ViewModels.AllInvestorsViewModel 
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-page">OFFERS OF INVESTORS</h2>
<div class="header-separator"></div>
<br />
<br />
<br />

<div class="home-page-solutions-block">
    @foreach (var investor in Model.InvestorViewModels)
    {
        <a href="~/Investor/View?id=@investor.Id">
            <div class="home-page-solutions">
                <div class="home-page-solutions-image">
                    <img src="~/Content/images/profile/@investor.FileName">
                </div>
                <div class="home-page-solutions-description">
                    <p class="home-page-solution-title">
                        @investor.CompanyName
                    </p>
                    @if (!string.IsNullOrEmpty(investor.CompanyDescription))
                    {
                        <p>
                            @(investor.CompanyDescription.Length > 90 ? investor.CompanyDescription.Substring(0, 87) + "..." : investor.CompanyDescription)
                        </p>
                    }
                    <p><span class="blue-text bold-font">Location: </span>@investor.City.Country.Name, @investor.City.Name</p>
                    <p><span class="blue-text bold-font">Investment size: @investor.InvestmentSize </span>@investor.Currency.Name</p>
                </div>
            </div>
        </a>
    }

</div>
<div class="pagination-block">
    <ul class="pagination">
        @for (int i = 1; i <= Model.ProjectAmount; i++)
        {
            <li class="page-item"><a class="page-link" href="~/Investor/All?page=@i">@i</a></li>
        }
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        function getParameterByName(name) {
            var regexS = "[\\?&]" + name + "=([^&#]*)",
                regex = new RegExp(regexS),
                results = regex.exec(window.location.search);
            if (results == null) {
                return "";
            } else {
                return decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        }

        var page = getParameterByName("page");

        if (page != '') {
            $(".page-link:contains('" + page + "')").focus();
        } else {
            $(".page-link:contains('1')").focus();
        }
    });
</script>