@model InvestmentPlatform.Application.ViewModels.InvestorViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-page">YOUR PROFILE</h2>
<div class="header-separator"></div>
<br />

<hr class="navigation-top-hr " />
<div>
    <div class="profile-navigation-block">
        <a href="~/Investor/Index" class="active-tab"><span>Profile</span></a>
        <a href="~/Investor/FavoriteSolutions">Favorite Solutions</a>
        <a href="~/Investor/Edit">Settings</a>
    </div>
</div>
<hr class="navigation-bottom-hr " />

<div class="block-text-solution">
    <p class="location-solution">
        @Model.City.Country.Name, @Model.City.Name
    </p>

    <div class="font-solution">
        <p>
            <span class="bold-font">Company description:</span>
            @Model.CompanyDescription
        </p>

        <div>
            <p class="list-name-solution">
                <span class="bold-font">Investment sectors:</span>
            </p>
            <div class="list-block-solution">
                @foreach (var industry in Model.Industries)
                {
                    <p>
                        @industry.Name
                    </p>
                }
            </div>
        </div>

        <p>
            <span class="bold-font">Investment size:</span>
            @Model.InvestmentSize @Model.Currency.Name
        </p>
    </div>
</div>

<div class="image-solution">
    <img src="~/Content/images/profile/@Model.FileName">
</div>

