@model InvestmentPlatform.Application.ViewModels.MainPageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2 class="header-page">SOLUTIONS</h2>
    <div class="header-separator"></div>
    <br />
    <br />
    <br />
    <div class="home-page-solutions-block">
        @foreach (var solution in Model.SolutionViewModels)
        {
            <a href="~/Solution/View?id=@solution.Id">
                <div class="home-page-solutions">
                    <div class="home-page-solutions-image">
                        <img src="~/Content/images/profile/@solution.FileName">
                    </div>

                    <div class="home-page-solutions-description">
                        <p class="home-page-solution-title">
                            @solution.Title
                        </p>
                        <p>
                            @(solution.SolutionDescription.Length > 90 ? solution.SolutionDescription.Substring(0, 87) + "..." : solution.SolutionDescription)
                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="home-page-statistic-block">
        <div class="home-page-statistic">
            <div class="home-page-statistic-number">
                @Model.SolutionsAmount
            </div>
            <div class="home-page-statistic-text">
                Placed
                <br />
                Solutions
            </div>
        </div>

        <div class="home-page-statistic">
            <div class="home-page-statistic-number">
                @Model.AuthorsAmount
            </div>
            <div class="home-page-statistic-text">
                Registered
                <br />
                Authors
            </div>
        </div>

        <div class="home-page-statistic">
            <div class="home-page-statistic-number">
                @Model.InvestorsAmount
            </div>
            <div class="home-page-statistic-text">
                Registered
                <br />
                Investors
            </div>
        </div>

        <div class="home-page-statistic">
            <div class="home-page-statistic-number">
                @Model.FavouriteSolutionsAmount
            </div>
            <div class="home-page-statistic-text">
                Favourite
                <br />
                Solutions
            </div>
        </div>
        
    </div>
</div>