@model InvestmentPlatform.Application.ViewModels.AllSolutionsViewModel

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-page">SOLUTIONS</h2>
<div class="header-separator"></div>
<br />
<br />
<br />

@using (Ajax.BeginForm("Filter", "Solution", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="search-block-solutions">
        <div>
            <div class="search-label">
                Search by parameters
            </div>
            <div class="search-parameters-row">
                <div class="filter-block">
                    <div id="industries-dropdown" class="sectors-dropdown">Industries<i class="fa fa-sort-down" style="float: right;"></i></div>
                    <div id="industries-block" class="checkboxes-block" style="display: none">
                        @foreach (var item in Model.Industries)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedIndustries"
                                           value="@item.Id" /> @item.Name
                                    </label>
                                </div>
                        }
                    </div>
                </div>
                <div class="filter-block">
                    <div id="countries-dropdown" class="sectors-dropdown">Countries<i class="fa fa-sort-down" style="float: right;"></i></div>
                    <div id="countries-block" class="checkboxes-block" style="display: none">
                        @foreach (var item in Model.Countries)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedCountries"
                                           value="@item.Id" /> @item.Name
                                    </label>
                                </div>
                        }
                    </div>
                </div>
                <div class="filter-block">
                    <div id="cities-dropdown" class="sectors-dropdown">Cities<i class="fa fa-sort-down" style="float: right;"></i></div>
                    <div id="cities-block" class="checkboxes-block" style="display: none">
                        @foreach (var item in Model.Cities)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedCities"
                                           value="@item.Id" /> @item.Name
                                    </label>
                                </div>
                        }
                    </div>
                </div>
            </div>
            <div class="search-parameters-row">
                <div class="filter-block">
                    <div id="solutiontypes-dropdown" class="sectors-dropdown">Kinds of solution<i class="fa fa-sort-down" style="float: right;"></i></div>
                    <div id="solutiontypes-block" class="checkboxes-block" style="display: none">
                        @foreach (var item in Model.SolutionTypes)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedSolutionTypes"
                                           value="@item.Id" /> @item.Name
                                    </label>
                                </div>
                        }
                    </div>
                </div>
                <div class="filter-block">
                    <div id="solutionstatuses-dropdown" class="sectors-dropdown">Solution statuses<i class="fa fa-sort-down" style="float: right;"></i></div>
                    <div id="solutionstatuses-block" class="checkboxes-block" style="display: none">
                        @foreach (var item in Model.ImplementationStatuses)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedSolutionStatuses"
                                           value="@item.Id" /> @item.Name
                                    </label>
                                </div>
                        }
                    </div>
                </div>
                <div class="filter-block">
                    <div id="investmentsize-dropdown" class="sectors-dropdown">Investment size</div>
                    <div id="investmentsize-block" class="checkboxes-block" style="display: none; padding-bottom: 12px; padding-top: 5px;">
                        From <input class="form-control" type="number" min="0" max="2000000000" step="1" name="FromInvestmentSize"/> 
                        To <input class="form-control" type="number" min="0" max="2000000000" step="1" name="ToInvestmentSize"/>
                    </div>
                </div>
            </div>
            <div class="search-parameters-row">
                <div class="search-block">
                    <input id="searchString" name="searchString" class="form-control" placeholder="Search..." style="display: inline-block; vertical-align: top;"/>
                    <div class="find-button">
                        <input style="float: right;" class="custom-button" type="submit" value="FIND" />
                    </div>
                    @*<input class="custom-button-reset" type="button" value="Reset" />*@
                </div>
            </div>
        </div>
    </div>
}

<div class="form-group sort-block ">
    <label class="control-label" style="margin-top: 5px; float: left; margin-left: 15px;">Sort:</label>
    <div class="col-md-2">
        <select id="sortBy" class="form-control">
            <option value="date" selected>by date</option>
            <option value="investmentSize">by investment size</option>
        </select>
    </div>
    <div class="col-md-2">
        <select id="sortDestination" class="form-control">
            <option value="up" selected>ascending</option>
            <option value="down">descending</option>
        </select>
    </div>
</div>

<div id="results">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#results').load('/Solution/Filter?firstShown=True&sortBy=' + $("#sortBy").val() + '&sortDestination=' + $("#sortDestination").val());

        $("#sortBy").change(function () {
            $('#results').load('/Solution/Filter?firstShown=True&sortBy=' + $("#sortBy").val() + '&sortDestination=' + $("#sortDestination").val() + '&searchString=' + $("#searchString").val());
        });

        $("#sortDestination").change(function () {
            $('#results').load('/Solution/Filter?firstShown=True&sortBy=' + $("#sortBy").val() + '&sortDestination=' + $("#sortDestination").val() + '&searchString=' + $("#searchString").val());
        });

        $("#cities-dropdown").click(function () {
            if ($("#cities-block").css('display') == 'none') {
                $("#cities-block").show();
            } else {
                $("#cities-block").hide();
            }
        });

        $("#countries-dropdown").click(function () {
            if ($("#countries-block").css('display') == 'none') {
                $("#countries-block").show();
            } else {
                $("#countries-block").hide();
            }
        });

        $("#industries-dropdown").click(function () {
            if ($("#industries-block").css('display') == 'none') {
                $("#industries-block").show();
            } else {
                $("#industries-block").hide();
            }
        });


        $("#solutiontypes-dropdown").click(function () {
            if ($("#solutiontypes-block").css('display') == 'none') {
                $("#solutiontypes-block").show();
            } else {
                $("#solutiontypes-block").hide();
            }
        });


        $("#solutionstatuses-dropdown").click(function () {
            if ($("#solutionstatuses-block").css('display') == 'none') {
                $("#solutionstatuses-block").show();
            } else {
                $("#solutionstatuses-block").hide();
            }
        });

        $("#investmentsize-dropdown").click(function () {
            if ($("#investmentsize-block").css('display') == 'none') {
                $("#investmentsize-block").show();
            } else {
                $("#investmentsize-block").hide();
            }
        });
    });
</script>