@model InvestmentPlatform.Models.SolutionViewModel
@{
    ViewBag.Title = "Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-block-solution">
    <div>
        <h2 class="header-page-solution">@Model.Title</h2>
        <div class="header-separator-solution"></div>
    </div>
</div>
<br />
<br />

<div class="block-text-solution">
    <p class="location-solution">
        @Model.City.Country.Name, @Model.City.Name
    </p>

    <div class="font-solution">
        <p>
            <span class="bold-font">Description:</span>
            @Model.SolutionDescription
        </p>

        @if (!string.IsNullOrEmpty(Model.UniqueInfo))
        {
            <p>
                <span class="bold-font">Something unique:</span>
                @Model.UniqueInfo
            </p>
        }

        <div>
            <p class="list-name-solution">
                <span class="bold-font">Kinds of solution:</span>
            </p>
            <div class="list-block-solution">
                @foreach (var solutionKind in Model.SolutionTypes)
                {
                    <p>
                        @solutionKind.Name
                    </p>
                }
            </div>
        </div>

        <div>
            <p class="list-name-solution">
                <span class="bold-font">Industries:</span>
            </p>
            <div class="list-block-solution">
                @foreach (var industry in Model.Industries)
                {
                    <p>
                        @industry.Name
                    </p>
                }
            </div>
        </div>

        <p>
            <span class="bold-font">Project implementation status:</span>
            @Model.ImplementationStatus.Name
        </p>

        <p>
            <span class="bold-font">Investment size:</span>
            @Model.InvestmentSize @Model.Currency.Name            
        </p>
    </div>
</div>

<div class="image-solution">
    <img src="~/Content/images/profile/@Model.FileName">
</div>