@model InvestmentPlatform.Models.InvestorRegisterViewModel
@{
    ViewBag.Title = "InvestorRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-page">INVESTOR SIGN UP</h2>
<div class="header-separator"></div>
<br />
<br />
<br />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal registration-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="registration-form-inputs">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group registration-form-required-field">
            <div class="col-md-10">
                <label>
                    *Required
                </label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CompanyDescription, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Website, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.PasswordFor(m => m.Website, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Location, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.InvestmentSectors, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.PasswordFor(m => m.InvestmentSectors, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.InvestmentSize, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.InvestmentSize, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="registration-button-block">
                <input type="submit" value="SIGN UP" />
            </div>
        </div>
    </div>
}

