@model InvestmentPlatform.Models.InvestorRegisterViewModel
@{
    ViewBag.Title = "InvestorRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-page">INVESTOR SIGN UP</h2>
<div class="header-separator"></div>
<br />
<br />
<br />

@using (Html.BeginForm("RegisterInvestor", "Account", FormMethod.Post, new { @class = "form-horizontal registration-form", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="registration-form-inputs">
        @Html.ValidationSummary(true, "", new { @class = "text-danger validation-summary" })

        <div class="form-group registration-form-required-field">
            <div class="col-md-10">
                <label>
                    *Required
                </label>
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>  
        </div>

        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.CompanyName, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.CompanyDescription, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            @Html.LabelFor(m => m.CompanyDescription, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Website, new { @class = "col-md-3 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">*Country:</label>
            <div class="col-md-7">
                <select id="country" class="form-control">
                    <option value="" disabled selected>Select Country</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">*City:</label>
            <div class="col-md-7">
                <select id="city" class="form-control" disabled>
                    <option value="" disabled selected>Select City</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">*Priority investment sectors:</label>
            <div class="col-md-7">
                <div class="sectors-dropdown">Select Sectors<i class="fa fa-sort-down" style="float: right;"></i></div>
                <div class="checkboxes-block" style="display: none">
                @foreach (var item in Model.InvestmentSectors)
                {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedInvestmentSectors"
                                       value="@item.Id" /> @item.Name
                                </label>
                            </div>
                    }
                </div>
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.InvestmentSize, null, new { @class = "text-danger error-text" })
        <div class="form-group">
            <label class="col-md-3 control-label">*Investment Size:</label>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.InvestmentSize, new { @class = "form-control inv-size-input", @type = "number", @min = "0" })
                <select id="currency" class="form-control inv-size-input">
                    <option value="" disabled selected>Select Currency</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="file">*Company logo:</label>
            <div class="col-md-7">
                <input type="file" name="file" id="file" style="width: 0px; height: 0px; display: none" />
                <input style="display: block; margin-top: 6px;" type="button" value="Upload Image" id="uploadImage"/>
                <img id="loadedImage" src="@Model.FileName" />
            </div>
        </div>

        <div class="form-group">
            <div class="registration-button-block">
                <input type="submit" value="SIGN UP" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.CityId)
    @Html.HiddenFor(x => x.CurrencyId)
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".sectors-dropdown").click(function () {
            if ($(".checkboxes-block").css('display') == 'none') {
                $(".checkboxes-block").show();
            } else {
                $(".checkboxes-block").hide();
            }
        });

        $.getJSON('/type/GetCurrencies', null, function (data) {
            $.each(data, function () {
                $('#currency').append('<option value=' +
                    this.Id + '>' + this.Name + '</option>');
            });

            var currencyId = $('#CurrencyId').val();
            if ((currencyId != '') && (currencyId != null) && (currencyId != "0")) {
                $('#currency').val(currencyId)
            }
        });

        $('#currency').change(function () {
            $('#CurrencyId').val($('#currency').val());
        });     
    });
</script>

@Scripts.Render("~/bundles/location")